<h1 class ="title">PassWordrobe</h1>
    <nav class="nav justify-content-end">
        <%=link_to "一覧", passwords_path, class: "nav-link" %>
    </nav>
    <div class="container">
        <%= form_with model: @password, local: true do |form|%>
            <div class="form-group">
                <%= form.label :name, "名称"%>
                <%= form.text_field :name, class: "form-control", id: "password_name"%>
            </div>
            <div class="form-group">
                <%= form.label :user_id, "ユーザーID"%>
                <%= form.text_field :user_id, class: "form-control", id: "password_user_id"%>
            </div>
            <div class="form-group">
                <%= form.label :mail, "メールアドレス"%>
                <%= form.email_field :mail, class: "form-control", id: "password_mail"%>
            </div>
            <div class="form-group">
                <%= form.label :password_digest, "パスワード"%>
                <%= form.password_field :password_digest, class: "form-control", id: "password_password_digest"%>
            </div>
            <div class="form-group">
                <%= form.label :memo, "メモ"%>
                <%= form.text_area :memo, class: "form-control", id: "password_memo"%>
            </div>
            <div class="submitbutton">
                <%= form.submit "登録する" , class: "btn btn-primary"%>
            </div>
        <% end %>
    </div>

